<div class="list">
	 <label class="item item-input">
	    <span class="input-label" style="width:100px">price：</span>
	    <input type="number" ng-model="offerEdited.price">
	  </label>
	  <label class="item item-input">
	    <span class="input-label" style="width:100px">leadtime：</span>
	    <input type="number" ng-model="offerEdited.lead_time">
	  </label>
	<label class="item item-input">
		<span class="input-label" style="width:100px">MOQ：</span>
	    <input type="number" ng-model="offerEdited.MOQ">
	  </label>
</div>