<ion-tabs class="tabs-icon-top tabs-positive">

        <ion-tab title="供应商" icon="ion-home" icon-on="energized ion-home" href="#/app/suppliers">
          <ion-nav-view name="tab-suppliers"></ion-nav-view>
        </ion-tab>
        <ion-tab title="市场产品" icon="ion-cube" icon-on="energized ion-cube" ui-sref="app.pros.marketpro">
          <ion-nav-view name="tab-marketpro"></ion-nav-view>
        </ion-tab>
        <ion-tab title="已分配" icon="ion-briefcase" icon-on="energized ion-briefcase" ui-sref="app.product.proview">
          <ion-nav-view name="tab-personal"></ion-nav-view>
        </ion-tab>
        <ion-tab title="收藏夹" icon="ion-star" icon-on="energized ion-star" href="#/app/collection">
          <ion-nav-view name="tab-collection"></ion-nav-view>
        </ion-tab>
        <ion-tab title="个人中心" icon="ion-person" icon-on="energized ion-person" href="#/app/setting">
          <ion-nav-view name="tab-setting"></ion-nav-view>
        </ion-tab>

</ion-tabs>
